body{
    background-color: black;
    color: white;
}
#slide{
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0;
    margin-bottom: 600px;
}
img{
    max-width: 400px;
    max-height: 600px;
    width: 100%;             
    height: auto;            
    position: absolute;     
    top: 29%;
    left: 50%;
    transform: translateX(-50%);  
    opacity: 0;             
    transition: opacity 1s ease-in-out; 
}
#img1{
    opacity: 1;
}
#botoes{
    display: flex;
    margin: auto;
    margin-top: 30px;
    max-width: 200px;
    justify-content: space-around;
}
.btn{
    border: none;
}
h1{
    font-size: 3rem;
    color: brown;
    font-family: "Kaushan Script", sans-serif;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
#text{
    text-align: justify;
    text-indent: 2em;
    margin: auto ;
    text-align: center;
    max-width: 800px;
    margin-bottom: 100px;
}
p{
    font-size: 1.3rem
}
h2{
    text-align: center;
    color: rgb(250, 164, 185);
}